header {
	background: #2BD3D6;
}
.detail-main {
	margin: 120px 0;
}
.detail-deskrip {
	padding-top: 72px;
	padding-left: 30px;
}
.detail-deskrip img{
	margin-right: 20px;
}
.detail-deskrip strong{
	line-height: 17px;
	font-size: 20px;
}
.detail-deskrip small{
	display: block;
	line-height: 24px;
	color: #999;
}
.detail-deskrip .nohp{
	clear: both;
	padding: 15px 20px;
	background: #F5F6FA;
	margin: 50px 0;
	font-size: 18px;
	color: #444;
}
.detail-deskrip .pull-right{
	text-decoration: underline;
	font-size: 14px;
}
p.deskripsi{
	font-family: 'montserratregular';
	color: #AAA;
}
p.deskripsi::first-line{
	font-family: 'montserratbold';
	color: #555;
}