/*Global Style*/
a, a:hover {
	text-decoration: none;
}
.btn {
	padding: 12px 42px;
	font-size: 13px;
}

body {
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	color: #4F5155;
}
/*-------- Header -----------*/
.navbar {
   	background: transparent;
   	border: none;
	margin: 0;
	padding-top: 30px;
}
.navbar .btn {
	text-transform: uppercase;
	color: #FFF;
	
}
.navbar .dropdown {
	margin-top: 8px;
}

.dropdown-menu input {
	margin: 18px 20px;
	width: 200px;
	font-weight: 400;
	font-size: 12px;
}
.dropdown-menu {
	min-width: 240px;
	padding: 35px 20px;
	text-align: center;
}
.modal-content{
	border-radius: 0;
}
#modal-signup .modal-body{
	color: #909291;
	padding: 60px;
	border-radius: 0;
}
#modal-signup input {
	border-radius: 0;
	height: 39px;	
	background-color: #E9EAEC;
	box-shadow: none;
	border: none;
}
#inputusername { width: 140px }
#inputPass { width: 160px }
#inputemail { width: 180px }
#inputhp { width: 150px }
#inputkota { width: 190px }
#modal-signup .btn-info {
	background-color: #64A4E4;
	text-transform: uppercase;
}
/*----------- Hero ends ---------------*/
section {
	margin-top: -120px;
	top: 0;
	padding: 0;
}
.main-hero {
	color: #FFF;
	margin-top: 115px;
	margin-bottom: 115px;
}
.ticket-home {
	color: #FFF;
	padding: 0 10%;
	background: #72B7F8;
	-webkit-box-shadow: -1px -3px 7px 1px rgba(35,31,32,0.62);
-moz-box-shadow: -1px -3px 7px 1px rgba(35,31,32,0.62);
box-shadow: -1px -3px 7px 1px rgba(35,31,32,0.62);
}
.ticket-home .btn {
	background: #64A4E4;
	border: #64A4E4;
	box-shadow: none;
	margin-top: 1.5em;
}
.promote {
	margin-bottom: 65px;
	margin-top: 65px;
	padding: 0 60px;
}

.promote h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 23px;
	color: #00A79C;
}
.promote p {
	font-weight: 400;
	font-size: 18px;
	line-height: 1.8em;
	color: #939598;
}
.promote .btn, nav .btn-default {
	background: #EE4848;
	border: #EE4848;
}

	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	.main-view {
		border: 1px solid #D0D0D0;
		border-radius: 10px;
		box-shadow: 0 0 8px #D0D0D0;
		margin-bottom: 60px;
	}
	
	
footer{
	background-color:#535c6b;
	color: #fff;
	font-size: 17px;
	height: 220px;
	padding: 40px;
	}
footer a {
	color: #fff;
}
footer ul li {
	list-style: none;
}
.copyright {
	background-color:#4a5362;
	color:#fff;
	padding: 10px 0;
}

