/*Global Style*/
a, a:hover {
	text-decoration: none;
}
.btn {
	padding: 12px 42px;
	font-size: 13px;
}

body {
	background-color: #fff;
	font-family: 'Montserratregular';
	color: #4F5155;
}
/*-------- Header -----------*/
.navbar {
   	background: transparent;
   	border: none;
	margin: 0;
	padding-top: 30px;
}
.navbar .btn {
	text-transform: uppercase;
	color: #FFF;
	
}
.navbar .dropdown {
	margin-top: 8px;
}

.dropdown-menu input {
	margin: 18px 20px;
	width: 200px;
	font-size: 12px;
}
.dropdown-menu {
	min-width: 240px;
	padding: 35px 20px;
	text-align: center;
}
.modal-content{
	border-radius: 0;
}
#modal-signup .modal-body{
	color: #909291;
	padding: 60px;
	border-radius: 0;
}
#modal-signup input {
	border-radius: 0;
	height: 39px;	
	background-color: #E9EAEC;
	box-shadow: none;
	border: none;
}
#inputusername { width: 140px }
#inputPass { width: 160px }
#inputemail { width: 180px }
#inputhp { width: 150px }
#inputkota { width: 190px }
#modal-signup .btn-info {
	background-color: #64A4E4;
	text-transform: uppercase;
}
/*------ Hero startnig here ---------*/
.hero-text {
	width: 70%;
	float: left;
	margin-right: 60px;
}
.hero-text h1 {
	font-family: 'Montserratblack';
	font-size: 38px;
}
.hero-text p:nth-child(even){
	font-family: 'Montserratbold';
}
.hero-text p {
	font-size: 21px;
	font-family: 'Montserratlight';
}
.cari {
	padding-top: 30px;
	clear: both;
	font-family: 'Montserrathairline';
}
section {
	margin-top: -120px;
	top: 0;
	padding: 0;
}
.main-hero {
	color: #FFF;
	margin-top: 95px;
	margin-bottom: 115px;
}
.main-hero input {
	border: none;
	border-radius: 0;
	height: 62px;
	width: 60%;
	box-shadow: none;
	font-size: 24px;
	background: rgba(255, 255, 255, 0.4);
}
.main-hero .btn {
	font-size: 20px;
	padding: 22px 29px;
	border-radius: 4px;
	margin-top: 70px;
	background: #64A4E4;
	border: none;
}
/*----------- Hero ends ---------------*/
.tick { 
	background: #72B7F8;
	-webkit-box-shadow: -5px -7px 6px -4px rgba(85,85,85,0.74);
-moz-box-shadow: -5px -7px 6px -4px rgba(85,85,85,0.74);
box-shadow: -5px -7px 6px -4px rgba(85,85,85,0.74);
}
.ticket-home {
	color: #FFF;
	margin: 0 90px;
}
.ticket-home .col-md-1 {
	background: #64A4E4;
	vertical-align: middle;
	padding: 5.2% 0 4% 0;
	width: 8.3%;
}
.ticket-home .col-md-10 {
	padding: 2% 6%;
	background: #72B7F8;
}
.ticket-home .col-md-1 a {
	font-size: 38px;
	margin-left: 25px;
	color: #FFF;
}
.ticket-home .btn {
	background: #64A4E4;
	border: #64A4E4;
	box-shadow: none;
	padding: 20px 20px;
	margin-top: 1.5em;
	font-family: 'Montserratregular';
	font-size: 18px;
}
.promote {
	margin-bottom: 165px;
	margin-top: 165px;
	padding: 0 60px;
}

.promote h2 {
	text-transform: uppercase;
	font-family: 'Montserratbold';
	font-size: 23px;
	color: #00A79C;
}
.promote p {
	font-size: 18px;
	line-height: 1.8em;
	color: #939598;
}
.promote .btn, nav .btn-default {
	background: #EE4848;
	border: #EE4848;
}

	p.footer {
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}

	.main-view {
		border: 1px solid #D0D0D0;
		border-radius: 10px;
		box-shadow: 0 0 8px #D0D0D0;
		margin-bottom: 60px;
	}
	
	
footer{
	background-color:#535c6b;
	color: #fff;
	font-size: 17px;
	height: 220px;
	padding: 40px;
	}
footer a {
	color: #fff;
}
footer ul li {
	list-style: none;
}
.copyright {
	background-color:#4a5362;
	color:#fff;
	padding: 10px 0;
}

