header {
	background: #2BD3D6;
	height: 100px;
	margin-bottom: 120px;
}
.search {
	margin-top: 20px;
}
.search input {
	width: 330px;
	height: 54px;
	box-shadow: none;
	border: none;
	text-transform: uppercase;
}
.active-ticket .col-md-3 .btn-info{
	text-transform: uppercase;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-left: 20px;
	background: #21BAB5;
	border: #21BAB5;
}
.active-ticket .col-md-3 .btn-link{
	text-decoration: underline;
}

.col-md-4 img {
	margin-right: 20px;
}
.greeting {
	margin-left: 60px;
}
.greeting .btn{
	border-radius: 0;
	background: #EE4848;
	border: #EE4848;
	padding: 6px 30px;
}
.greeting small {
	font-size: 11px;
	color: #99A5B5;
}
.greeting p {
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 4px;
}
.nav{
	background-color: #72B7F8;
	border-radius: 0;
	height: auto;
	margin-bottom: 50px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: #64A4E4;
  border-radius: 0;
  color: #fff;
}

.nav li > a:hover {
	background-color: #64A4E4;
	border-radius: 0;
  	color: #FFF;
}
.nav li >a{
	color: #FFF;
	padding-left: 20px;
	padding-right: 23px;
	height: 80px;
	padding-top: 30px;
  	
}
.logout{
	color: #FFF;
	background-color: #707F94;
	text-transform: uppercase;
	font-weight: 400;
}
.logout-link {
	padding-bottom: 50px;
}
/*--------------left side -------------------------*/

.active-ticket {
	background-color:#f2f3f7;
	padding:15px 0;
	min-height: 125px;
}
.active-ticket .img-area {
	border-right: 1px solid #DDD;
}
.info-small ul li{
	display: inline;
}
.info-small .btn{
	padding: 2px 10px 4px 10px;
	border-radius: 50px;
	margin-top: 8px;
	border: none;

}
.active-ticket img {
	margin-right: 10px;
}
.harga {
	font-size: 12px;
	color: #8D8D8D;
	margin-bottom: 0;
}
.active-ticket small {
	color: #8D8D8F;
	clear: both;
	float: none;
}
.line-white {
	height: 20px;
	width: auto;
}
.member-area {
	padding-right: 40px;
}
.my-selling, .my-reserve{
	margin-top: 56px;
}
.curr-sell-small .btn, .curr-res-small .btn{
	border-radius: 0;
	padding: 8px 0;
	width: 100px;
	border: none;
	margin-top: 8px;
}
.curr-sell-small strong, .curr-res-small strong{
	font-size: 18px;
}
.my-reserve .col-md-7 p {
	margin-top: 10px;
}
.ticket {
	background-color:#72B7F8;
	padding: 4px 10px;
	color:#fff;
	margin-bottom:15px;
}
.list-ticket {	margin-bottom: 50px;
}
/*---------- Sell post style strat here -----------*/
.sellpost input, .sellpost select {
	height: 53px;
	border-radius: 0;
	background: #ECEDEF;
	border: none;
	box-shadow: none;
}
.sellpost textarea {
	border-radius: 0;
	background: #ECEDEF;
	border: none;
	box-shadow: none;
	width: 480px;
	min-height: 200px;
}
#inputtipe {width: 180px}
#inputjudul {width: 270px}

#inputhrg {width: 190px}
#inputkota {width: 260px}

.sellpost .btn {
	color: #FFF;
	background: #64A4E4;
	margin-bottom: 90px;
}
#allreserve .col-md-4 .reserved-area{
	padding: 8px 20px 10px 20px;
	background: #F2F3F7;
}
#allreserve .col-md-4 .active{
	padding: 7px 19px 9px 19px;
	background: #D8EBFA;
	border: 1px dashed #64A4E4;
}