header {
	background: #2BD3D6;
	height: 100px;
	margin-bottom: 120px;
}
.search {
	margin-top: 20px;
}
.search input {
	width: 330px;
	height: 54px;
	box-shadow: none;
	border: none;
	text-transform: uppercase;
}
.col-md-8 .btn{
	text-transform: uppercase;
	padding-top: 17px;
	padding-bottom: 17px;
	margin-left: 20px;
	background: #21BAB5;
	border: #21BAB5;
}
.col-md-4 img {
	margin-right: 20px;
}
.greeting {
	margin-left: 60px;
}
.greeting .btn{
	border-radius: 0;
	background: #EE4848;
	border: #EE4848;
	padding: 6px 30px;
}
.greeting small {
	font-size: 11px;
	color: #99A5B5;
}
.greeting p {
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 4px;
}
.navbar{
	background-color: #72B7F8;
	border-radius: 0;
	height: auto;
	margin-bottom: 30px;
}
.navbar-default a{
	color: #FFF;
}
.navbar-default .navbar-nav > li {
	margin-top: -30px;
	
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #64A4E4;
  color: #FFF;
}
.navbar-default .navbar-nav > li > a {
  	color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover {
	 background-color: #64A4E4;
  	color: #FFF;
}
.navbar-default .navbar-nav > li >a{
	padding: 25px 20px;
  	
}
/*---------- Sell post style strat here -----------*/
.sellpost input, .sellpost select {
	height: 53px;
	border-radius: 0;
	background: #ECEDEF;
	border: none;
	box-shadow: none;
}
#inputtipe {width: 180px}
#inputjudul {width: 270px}
#inputtgl {width: 200px}
#inputhrg {width: 190px}